<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration Successful</title>
</head>
<body>
    <p>Subject: Your account has been created successful in KRIADO</p>
    <br>
    <p>Dear {{ applicant_name }},</p>
    <br>
    <p>Thank you for choosing Kriyado . Your account has
     been successfully created and password to your account should be the phone number you have provided.</p>
    <br>
    <p>Keep your password unauthorized by any otherperson.</p>
    <div>
            Thanks,<br>
            Kriado <br>
            <a href="www.kriyado.com">www.kriyado.com</a>
        </div>
</body>
</html>