<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Account Created Successful</title>
</head>
<body>
    <p>Subject: Account Created</p>
    <br>
    <p>Dear {{ applicant_name }},</p>
    <br>
    <p>Thank you for choosing services of Kriyado . using the link given below verify your account and set the password.</p>
    <a href="https://users.kriyado.com/verify_account/?id={{hassed_email}}">www.kriyado.com/verify_account/</a>
    <br>
    <div>
            Thanks,<br>
            Kriado <br>
            <a href="www.kriyado.com">www.kriyado.com</a>
        </div>
</body>
</html>http://192.168.47.248:5173/